{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
content %}
<html>
  <title></title>
  <style>
    body
    {
     background-image:url({{url_for('static',filename="registration.jfif")}})
    }
  </style>
</html>
<form method="POST">
  <h4 style="color:red" align="Center">Registration Page</h4>
  <h3 style="color:red" align="left">Sign Up</h3>
  <div class="form-group">
    <label style="color:red" for="email">Email Address</label>
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
    />
    <label style="color:red" for="FirstName">First Name</label>
    <input
      type="text"
      id="FirstName"
      name="FirstName"
      class="form-control"
      placeholder="Enter Username"
    />
    <label style="color:red" for="LastName">Last Name</label>
    <input
      type="text"
      id="LastName"
      name="LastName"
      class="form-control"
      placeholder="Enter Username"
    />
    <label style="color:red" for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
    />
     <label style="color:red" for="birthday">Birthday:</label>
     <input type="date" id="birthday" name="birthday" class="form-control">
    <div align="center">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </div>
</form>
{% endblock %}
